img {
	width: 100%;
}
.sub-menu li {
	padding-left: 1rem;
}
.nav-link.active .submenu {
    transform: rotate(90deg);
    position: relative;
    left: -3px;
}
.nav-link.active.collapsed .submenu {
	transform: unset;
}
